.registrationBlock {
    width: calc(100vw - 300px);
    display: flex;
    justify-content: flex-end;
}

.recipe {
 color:rgb(255, 255, 255) !important;
 font-size: 30px;
 margin-left: 33vw;
 margin-right: 15vw;
 transform: translate(-50%);
}